<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /habit-tracker-app-24/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /habit-tracker-app-24/index.html [L]
</IfModule>